body{
    background-color: rgb(40, 100, 120);
}

#main {
    background-color: rgb(180, 180, 180);
    height:640px;
    width: 460px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius:2%;
    border-style:solid;
    border-color:black;
    display: grid;
    grid-template-rows: 120px 520px;
}

#display {
    width: 460px;
    background-color: rgb(40, 40 ,40);
    height:120px;
    border-color:black;
    border-radius: 2%;
    border-width: 2px;
    text-align: end;
    text-justify: center;
    color: white;
    font-size:96px;
    font-family: Arial;
    overflow:hidden;
}

#keypad {
    background-color:lightsteelblue;
    width:460px;
    height:522px;
    margin-top: -2px;
    border-bottom-style:solid;
    border-color:black;
    border-radius:2%;
    display:grid;
    grid-template-areas:
    "p s m d"
    "o tw th ex"
    "f fv sx e"
    "sev egt n e"
    "z dot C ar";
}

button {
    font-size: 36px;
    font-family: Arial;
    color:black;
    background-color: lightcyan;
    border:gray;
    border-style:solid;
    border-width:1px;
}

[id = "0"] {
    border-bottom-left-radius: 5%;
}

[id = "<="] {
    border-bottom-right-radius: 5%;
}

.operator{
    background-color:lightskyblue;
}

#C{
    color:red;
}
